#e_name
  .field Event Name
  = text_field :event, 'name', class: 'edit_text_field', required: true

#o_name
  .field Organization
  = text_field :event, 'organization', class: 'edit_text_field', required: true
  
#e_category
  Category 
  =select :event, :category, { "Select" => "uncategorized", "Hike" => "hike", "Volunteer" => "volunteer", "Learn" => "learn", "Play" => "play" }, required: true
  
#e_tags
  Free
  =check_box_tag 'event[free]', 1, true
  Family friendly
  =check_box_tag 'event[family_friendly]', 1, true

#e_image.colored
  .field Image Upload
  = file_field :event, :image, id: 'image', accept: 'image/*'

#e_start_time
  .field Start Time
  = datetime_select :event, :start, default: default_time, datetime_separator: '', time_separator: '', ampm: true

#e_end_time.colored
  .field End Time
  = datetime_select :event, :end,  default: default_time, datetime_separator: '', time_separator: '', ampm: true

#e_venue_name
  .field Venue Name
  = text_field :event, :venue_name, class: 'edit_text_field', required: true

#e_location.colored
  .field Location
  = text_field_tag :autocomplete, nil, placeholder: 'Enter your address', onFocus: 'initialize();', class: 'edit_text_field', required: true

  #e_address
    .field Street Address
    = text_field :event, 'st_number', placeholder: 'number'
    = text_field :event, 'st_name', placeholder: 'street'

  #e_city
    .field City
    = text_field :event, 'city', class: 'medium_edit_text_field'

  #e_state
    .field State
    = text_field :event, 'state', class: 'short_edit_text_field'

  #e_zip
    .field Zip
    = text_field :event, 'zip', size: '6', class: 'short_edit_text_field'

  #e_country
    .field Country
    = text_field :event, 'country', class: 'short_edit_text_field'

  #map

#e_how_to_find_us
  .field How to find us
  = text_area :event, 'how_to_find_us', :cols =>'40', :rows => '2', class: 'edit_text_field', required: true

#e_description.colored
  .field Description
  = text_area :event, 'description', :cols =>'40', :rows => '10', class: 'edit_text_field', required: true
