%h3{:style=>'text-align: center'} Contact Info

#e_contact_first
  .field First Name
  = text_field :event, 'contact_first', class: 'edit_text_field', required: true
  
#e_contact_last
  .field Last Name
  = text_field :event, 'contact_last', class: 'edit_text_field', required: true
  
#e_contact_email
  .field Email
  = text_field :event, 'contact_email', placeholder: 'example@gmail.com', class: 'edit_text_field', required: true
  
#e_contact_phone
  .field Phone Number
  = text_field :event, 'contact_phone', placeholder: '(xxx)xxx-xxxx', class: 'edit_text_field'
  
%h3{:style=>'text-align: center'} Event Info
  
#e_name
  .field Name
  = text_field :event, 'name', class: 'edit_text_field', required: true
  
#e_category
  .field Category
  = select :event, :category, { :hike => "hike", :volunteer => "volunteer", :learn => "learn", :play => "play" }

#e_image.colored
  .field Image Upload
  = file_field :event, :image, id: 'image', accept: 'image/*'

#e_start_time
  .field Start Time
  = datetime_select :event, :start, default: default_time, datetime_separator: '', time_separator: '', ampm: true

#e_end_time.colored
  .field End Time
  = datetime_select :event, :end,  default: default_time, datetime_separator: '', time_separator: '', ampm: true

#e_venue_name
  .field Venue Name
  = text_field :event, :venue_name, class: 'edit_text_field', required: true

#e_location.colored
  .field Location
  = text_field_tag :autocomplete, nil, placeholder: 'Enter your address', onFocus: 'initialize();', class: 'edit_text_field', required: true

  #e_address
    .field Street Address
    = text_field :event, 'st_number', placeholder: 'number'
    = text_field :event, 'st_name', placeholder: 'street'

  #e_city
    .field City
    = text_field :event, 'city', class: 'medium_edit_text_field'

  #e_state
    .field State
    = text_field :event, 'state', class: 'short_edit_text_field'

  #e_zip
    .field Zip
    = text_field :event, 'zip', size: '6', class: 'short_edit_text_field'

  #e_country
    .field Country
    = text_field :event, 'country', class: 'short_edit_text_field'

  #map

#e_how_to_find_us
  .field How to find us
  = text_area :event, 'how_to_find_us', :cols =>'40', :rows => '2', class: 'edit_text_field', required: true

#e_description.colored
  .field Description
  = text_area :event, 'description', :cols =>'40', :rows => '10', class: 'edit_text_field', required: true
  
= hidden_field :event, :status, :value => 'pending'

//= tinymce_assets
//= tinymce
