= "#{@guest.first_name} #{@guest.last_name} has RSVPed for #{@event.name}."

:plain
Infomation about the attendee:
= "First Name: #{@guest.first_name}"
= "Last Name: #{@guest.last_name}"
= "Email: #{@guest.email}"
- if @guest.phone != nil and @guest.phone != ''
  = "Phone: #{@guest.phone}"
- if @guest.address != nil and not @guest.address.empty?
  = "Street: #{@guest.address}"
