-# in app/views/calendars/_admin_panel.html.haml, rendered from _calendar.html.haml

%br
%br
- if @event_relations[tab].count > 0
  - @event_relations[tab].each do |event|
    .container-fluid{ id: "#{event.id}_title" }
      .col-sm-8
        %h3= "#{event.name}"
      .col-sm-4
        %a{ id: "showbtn_#{event.id}", class: "", href: "##{event.id}_details", data: { toggle: "collapse" } }
          Show More
          %i.fa.fa-angle-down
    
    .container{ id: "#{event.id}_details", class: "collapse" }
      #top{ class: "row" }
        #date.col-sm-2
          Date
          .container
            = event.start.strftime("%b %-d, %Y")
        #cost.col-sm-2
          Cost
          .container= "$#{event.cost}"
        #tags.col-sm-3.container
          Tags
          .containers
            %p="#{event.tag_string}"
        #contact_1.col-sm-3.container
          Contact Info
          - if event.contact_first
            .container="Name: #{event.contact_last}, #{event.contact_first}"
          - else
            .container="Name:"
          .container= "Phone: #{event.contact_phone}"

      #bottom{ class: "row container" }
        #time{ id: "_Time", class: "container col-sm-2" }
          Time
          .container
            #start="Start: #{event.start.strftime("%r")}"
            #end= "End: #{event.end.strftime("%r")}"
        #location.col-sm-2.container{ id: "_Location" }
          Location
          .container
            #street= "#{event.street_address}"
            #city= "#{event.city_state_zip}"
        #description.col-sm-3.container{ id: "_Description" }
          Description
          .container-fluid
            %p=event.description
        #contact_2.col-sm-3.container{ id: "val_Email" }
          .container
            #email= "Email: #{event.contact_email}"
            #org= "Org: #{event.organization}"
          - if !tab.eql? "Past" 
            .container-fluid.col-sm-4{ id: "accept_#{event.id}" }
              = form_tag edit_event_path(event.id), :method => 'get'  do
                -# this will call editing
                - if tab.eql? "Upcoming"
                  = submit_tag 'accept', disabled: 'true', class: [ 'disabled' ]
                - else
                  = submit_tag 'accept'
            .container-fluid.col-sm-4{ id: "edit_#{event.id}" }
              %a{ role: "button", id: "#{event.id}_editButton", class: "button",
                  href: "##{event.id}_edit", data: { toggle: "collapse" } } Edit
            - if tab.eql? "Rejected"
              .container-fluid.col-sm-4{ id: "delete_#{event.id}" }
                = form_tag event_path(event.id), :method => 'delete' do
                  -# this will permanently delete an event
                  = submit_tag 'delete', data: { confirm: "Are you sure you want to delete '#{event.name}'?\n This cannot be undone." }
            - else
              .container-fluid.col-sm-4{ id: "reject_#{event.id}" }
                = form_tag edit_event_path(event.id), :method => 'get' do
                  -# this will move an event to the rejected area
                  = submit_tag 'reject'
          - else
            .container-fluid.col-sm-4{ id: "delete_#{event.id}" }
              = form_tag event_path(event.id), :method => 'delete' do
                -# this will permanently delete an event
                = submit_tag 'delete', data: { confirm: "Are you sure you want to delete '#{event.name}'?\n This cannot be undone." }
  
  
  
  
    .container-fluid{ id: "#{event.id}_edit", class: "collapse" }
      = form_for(event, url: event_path(event.id), html: { method: 'patch',
                 class: "form-horizontal" }) do |f|
        %legend Event Info
        .row.container-fluid
          .container-fluid.col-sm-5.control-group
            .field.form-group
              = f.label :event_name, :class => "control-label"
              = f.text_field :name
            .field.form-group
              = f.label :description, :class => "control-label"
              = f.text_area :description, :rows => 3, :class => "span5"
          .container-fluid.col-sm-5.form-group
            = f.label :location
            .field
              = f.number_field :st_number, :class => "span2"
              = f.text_field :st_name, :class => "span3"
            %br
            .field
              = f.text_field :city, :class => "span3"
              = f.text_field :state, :class => "span3"
              = f.number_field :zip, :class => "span3"
          
        .row.container-fluid
          .col-sm-5.container-fluid.form-group
            = f.label :Time
            .field
              %p{ class: 'help-block'} Start
              = f.datetime_select(:start, :datetime_separator => ", ", :ampm => true,
                                  :order => [:month, :day, :year, :hour, :minute],
                                  :label => "start") 
            %br
            .field
              %p{ class: 'help-block'} End
              = f.datetime_select(:end, :datetime_separator => ', ', :ampm => true,
                                  :order => [:month, :day, :year, :hour, :minute],
                                  :label => "end")
          .col-sm-3.container-fluid.form-group
            = f.label :cost
            .field
              = f.radio_button "free", "true"
              = f.label :free
            %br
            .field.container-fluid.form-group
              = f.radio_button "free", "false"
              = f.number_field :cost
          .col-sm-4.container-fluid.form-group
            = f.label :tags, :class => "control-label"
            .field
        %br
        %legend Contact Info
        %br
        .row.container-fluid
          .col-sm-4.container-fluid
            .field.form-group
              = f.label(:first_name, :class => "control-label")
              = f.text_field :contact_first
            %br
            .field.form-group
              = f.label :last_name, :class => "control-label"
              = f.text_field :contact_last
          .col-sm-4.container-fluid
            .field.form-group
              = f.label :email, :class => "control-label"
              = f.email_field :contact_email
            %br
            .field.form-group
              = f.label :phone_number, :class => "control-label"
              = f.telephone_field :contact_phone
          .col-sm-4.container-fluid
            .field.form-group
              = f.label :organization, :class => "control-label"
              = f.text_field :organization
            %br
            .field.form-group
              = f.label :website, :class => "control-label"
              = f.url_field :url
        %br
        .actions.row.container-fluid
          .col-sm-4.container-fluid
            = f.submit
          .col-sm-4.container-fluid
            = button_tag "Reset", type: :reset
          .col-sm-4.container-fluid
            %a{ role: "button", id: "#{event.id}_CancelEdit", class: "button",
                href: "##{event.id}_edit", data: { toggle: "collapse" } } Cancel
    %br
- else
  %ul
    %li= "There are no #{tab} events"
