-# in app/views/calendars/_admin_panel.html.haml, rendered from _calendar.html.haml

%br
- if @event_relations[tab].count > 0
  - @event_relations[tab].each do |event|
    .container{ id: "#{event.id}_title" }
      .col-sm-8
        %h3= "#{event.name}"
      .col-sm-4
        %a{ id: "showbtn_#{event.id}", class: "", href: "##{event.id}_details", data: { toggle: "collapse" } }
          Show More
          %i.fa.fa-angle-down
    
    .container{ id: "#{event.id}_details", class: "collapse" }
      #top{ class: "row" }
        #date.col-sm-2
          Date
          .container
            = event.start.strftime("%b %-d, %Y")
        #cost.col-sm-2
          Cost
          .container= "$#{event.cost}"
        #tags.col-sm-3.container
          Tags
          .containers
            %p="#{event.tags}"
        #contact_1.col-sm-3.container
          Contact Info
          - if event.contact_first
            .container="Name: #{event.contact_last}, #{event.contact_first}"
          - else
            .container="Name:"
          .container= "Phone: #{event.contact_phone}"

      #bottom{ class: "row container" }
        #time{ id: "_Time", class: "container col-sm-2" }
          Time
          .container
            #start="Start: #{event.start.strftime("%r")}"
            #end= "End: #{event.end.strftime("%r")}"
        #location.col-sm-2.container{ id: "_Location" }
          Location
          .container
            #street= "#{event.st_number} #{event.st_name}"
            #city= "#{event.city}, CA #{event.zip}"
        #description.col-sm-3.container{ id: "_Description" }
          Description
          .container-fluid
            %p=event.description
        #contact_2.col-sm-3.container{ id: "val_Email" }
          .container
            #email= "Email: #{event.contact_email}"
            #org= "Org: #{event.organization}"
          - if !tab.eql? "Past" 
            .container.col-sm-4
              = form_tag  do
                -# this will call editing
                - if tab.eql? "Upcoming"
                  = submit_tag 'accept', disabled: 'true', class: [ 'disabled' ]
                - else
                  = submit_tag 'accept'
            .container.col-sm-4
              = form_tag  do
                -# this will call editing
                = submit_tag 'edit'
            - if tab.eql? "Rejected"
              .container.col-sm-4
                = form_tag do
                  -# this will permanently delete an event
                  = submit_tag 'delete'
            - else
              .container.col-sm-4
                = form_tag do
                  -# this will move an event to the rejected area
                  = submit_tag 'reject'
    %br
- else
  %ul
    %li= "There are no #{tab} events"