-# in app/views/calendars/_admin_panel.html.haml, rendered from _calendar.html.haml

%br
%br
- if tab_events && tab_events.count > 0 
  - tab_events.each do |event|
    .container-fluid{ id: "#{event.id}_title" }
      .col-sm-8
        %h3= "#{event.name}"
      .col-sm-4
        %a{ id: "showbtn_#{event.id}", class: "", href: "##{event.id}_details", data: { toggle: "collapse" } }
          Show More
          %i.fa.fa-angle-down
    
    .container-fluid{ id: "#{event.id}_details", class: "collapse" }
      #top{ class: "row" }
        #date.col-sm-2
          Date
          .container-fluid
            = event.start.strftime("%b %-d, %Y")
        #cost.col-sm-2
          Cost
          .container-fluid= "$#{event.cost}"
        #tags.col-sm-3
          Tags
          .container-fluid
            %p="#{event.tag_string}"
        #contact_1.col-sm-3
          Contact Info
          - if event.contact_first && event.contact_first.length > 0
            .container-fluid="Name: #{event.contact_last}, #{event.contact_first}"
          - else
            .container-fluid="Name:"
          .container-fluid= "Phone: #{event.contact_phone}"

      #bottom{ class: "row container-fluid" }
        #time{ id: "_Time", class: "container-fluid col-sm-2" }
          Time
          .container-fluid
            #start="Start: #{event.start.strftime("%r")}"
            #end= "End: #{event.end.strftime("%r")}"
        #location.col-sm-2.container-fluid{ id: "_Location" }
          Location
          .container-fluid
            #street= "#{event.street_address}"
            #city= "#{event.city_state_zip}"
        #description.col-sm-3.container-fluid{ id: "_Description" }
          Description
          .container-fluid.scroll_small
            - if event.description
              = event.description.html_safe
        #contact_2.col-sm-3.container-fluid{ id: "val_Email" }
          .container-fluid
            #email= "Email: #{event.contact_email}"
            #org= "Org: #{event.organization}"
          - if !event.status.eql? "Past" 
            .container-fluid.col-sm-4{ id: "accept_#{event.id}" }
              = form_tag edit_event_path(event.id) + '#admin', :method => 'get'  do
                -# this will call editing
                - if event.status.eql? "Upcoming"
                  = submit_tag 'accept', class: 'ap_submit disabled', disabled: 'true'
                - else
                  = submit_tag 'accept', class: 'ap_submit'
            .container-fluid.col-sm-4{ id: "edit_#{event.id}" }
              %a.ap_submit{ role: "button", id: "#{event.id}_editButton",
                  href: "##{event.id}_edit", data: { toggle: "collapse" } } Edit
            - if event.status.eql? "Rejected"
              .container-fluid.col-sm-4{ id: "delete_#{event.id}" }
                = form_tag event_path(event.id) + '#admin', :method => 'delete' do
                  -# this will permanently delete an event
                  = submit_tag 'delete', class: "ap_submit",
                  data: { confirm: "Are you sure you want to delete '#{event.name}'? This cannot be undone." }
            - else
              .container-fluid.col-sm-4{ id: "reject_#{event.id}" }
                = form_tag edit_event_path(event.id) + '#admin', :method => 'get' do
                  -# this will move an event to the rejected area
                  = submit_tag 'reject', class: "ap_submit"
          - else
            .container-fluid.col-sm-4{ id: "delete_#{event.id}" }
              = form_tag event_path(event.id) + '#admin', :method => 'delete' do
                -# this will permanently delete an event
                = submit_tag 'delete', class: "ap_submit",
                data: { confirm: "Are you sure you want to delete '#{event.name}'?\n This cannot be undone." }
    
    .container-fluid{ id: "#{event.id}_edit", class: "collapse" }
      = render partial: 'calendars/edit_event', locals: { event: event, cancel_addition: '' }   
                  
- else
  - if tab
    %ul
      %li= "There are no #{tab} events"
  - else
    %ul
      %li= "Sorry, no events were found"
