-# in app/views/calendars/_admin_panel.html.haml, rendered from _calendar.html.haml

- if @event_relations[tab].empty?
  = "There are no #{tab} events"

- @event_relations[tab].each do |event|
  .container{ id: "#{event.id}_title" }
    .row
      .col-sm-6.nopadding
        %h3= "#{event.name}"
      .col-sm-2.nopadding
        %a{ id: "showbtn_#{event.id}", class: "", href: "##{event.id}_details", data: { toggle: "collapse" } }
          Show More
          %i.fa.fa-angle-down
      .col-sm-4.nopadding
  .container{ id: "#{event.id}_details", class: "collapse" }
    .row
      .col-sm-4
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          %tbody
            %tr
              %td Start
              %td
                %a.editable{id: "#{event.id}_start", "data-title" => "Enter start date", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.start.strftime("%b %0d, %Y, %r")
            %tr
              %td End
              %td
                %a.editable{id: "#{event.id}_end", "data-title" => "Enter end date", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.end.strftime("%b %0d, %Y, %r")
            %tr
              %td Location
              %td
                %a.editable{id: "#{event.id}_location", "data-title" => "Enter street", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= "#{event.st_number} #{event.st_name}, #{event.city}, CA #{event.zip}"
            %tr
              %td Cost
              %td
                %a.editable{id: "#{event.id}_cost", "data-title" => "Enter cost", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= "$#{event.cost}"
            %tr
              %td Tags
              %td
                %a.editable{id: "#{event.id}_tags", "data-title" => "Enter tags", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= "#{event.tag_string}"
      .col-sm-4
        Description
        .container-fluid
          %a.editable{id: "#{event.id}_description", "data-title" => "Enter tags", "data-type" => "textarea", "data-url" => "/post", :href => event_path(event.id)}= event.description
      .col-sm-4
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          %tbody
            %tr
              %td Organization
              %td
                %a.editable{id: "#{event.id}_organization", "data-title" => "Enter cost", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.organization
            %tr
              %td Contact
              %td
                %a.editable{id: "#{event.id}_contact", "data-title" => "Enter start date", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= "#{event.contact_first} #{event.contact_last}"
            %tr
              %td Phone
              %td
                %a.editable{id: "#{event.id}_phone", "data-title" => "Enter end date", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.contact_phone
            %tr
              %td Email
              %td
                %a.editable{id: "#{event.id}_email", "data-title" => "Enter street", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.contact_email
            %tr
              %td Website
              %td
                %a.editable{id: "#{event.id}_website", "data-title" => "Enter tags", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.url
    .row-fluid
      .col-sm-4
        %button.btn.btn-success{:type => "button"}
          Approve
          %i.fa.fa-check
      .col-sm-4
        %button.btn.btn-info{:type => "button"}
          Pending
          %i.fa.fa-circle-o-notch
      .col-sm-4
        %button.btn.btn-danger{:type => "button"}
          Reject
          %i.fa.fa-times-circle

%link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}
%script{:src => "http://code.jquery.com/jquery-2.0.3.min.js"}
%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
%link{:href => "//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css", :rel => "stylesheet"}/
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"}
:javascript
  $.fn.editable.defaults.mode = 'inline';
  $.fn.editable.defaults.ajaxOptions = {type: "PUT"}
  $.fn.editable.defaults.showbuttons = false;
  $(document).ready(function() {
    var show_btns = $("a:contains('Show')");
    show_btns.each(function(index){
      $(this).on("click", function() {
        $(this).html("" + (($(this).attr("aria-expanded") == "true") ? "Show More <i class='fa fa-angle-down'></i>" : "Show Less <i class='fa fa-angle-up'></i>") );
      });
    });
    
    var edit_btns = $("a[id*='editButton']");
    edit_btns.each(function(index) {
      var show_id = "#showbtn_" + edit_btns[index].id.split("_")[0]
      $(this).on("click", function() {
        $(show_id).trigger("click");
      });
    });
    
    var cancel_btns = $("a[id*='_CancelEdit']");
    cancel_btns.each(function(index) {
      var show_id = "#showbtn_" + cancel_btns[index].id.split("_")[0]
      $(this).on("click", function() {
        $(show_id).trigger("click");
      });
    });
    
    $('.editable').editable();
  });
