-# in app/views/calendars/_admin_panel.html.haml, rendered from _calendar.html.haml

- if @event_relations[tab].empty?
  = "There are no #{tab} events"

- @event_relations[tab].each do |event|
  .container{ id: "#{event.id}_title" }
    .row
      .col-sm-6.nopadding
        %h3= "#{event.name}"
      .col-sm-2.nopadding
        %a{ id: "showbtn_#{event.id}", class: "", href: "##{event.id}_details", data: { toggle: "collapse" } }
          Show More
          %i.fa.fa-angle-down
      .col-sm-4.nopadding
  .container{ id: "#{event.id}_details", class: "collapse" }
    .row
      .col-sm-4
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          %tbody
            %tr
              %td Start
              %td
                %a.editable{id: "#{event.id}_start", "data-title" => "Enter start date", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.start.strftime("%b %0d, %Y, %r")
            %tr
              %td End
              %td
                %a.editable{id: "#{event.id}_end", "data-title" => "Enter end date", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.end.strftime("%b %0d, %Y, %r")
            %tr
              %td Location
              %td
                %a.editable{id: "#{event.id}_location", "data-title" => "Enter street", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= "#{event.st_number} #{event.st_name}, #{event.city}, CA #{event.zip}"
            %tr
              %td Cost
              %td
                %a.editable{id: "#{event.id}_cost", "data-title" => "Enter cost", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= "$#{event.cost}"
            %tr
              %td Tags
              %td
                %a.editable{id: "#{event.id}_tags", "data-title" => "Enter tags", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= "#{event.tag_string}"
      .col-sm-4
        Description
        .container-fluid
          %a.editable{id: "#{event.id}_description", "data-title" => "Enter tags", "data-type" => "textarea", "data-url" => "/post", :href => event_path(event.id)}= event.description
      .col-sm-4
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          %tbody
            %tr
              %td Organization
              %td
                %a.editable{id: "#{event.id}_organization", "data-title" => "Enter cost", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.organization
            %tr
              %td Contact
              %td
                %a.editable{id: "#{event.id}_contact", "data-title" => "Enter start date", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= "#{event.contact_first} #{event.contact_last}"
            %tr
              %td Phone
              %td
                %a.editable{id: "#{event.id}_phone", "data-title" => "Enter end date", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.contact_phone
            %tr
              %td Email
              %td
                %a.editable{id: "#{event.id}_email", "data-title" => "Enter street", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.contact_email
            %tr
              %td Website
              %td
                %a.editable{id: "#{event.id}_website", "data-title" => "Enter tags", "data-type" => "text", "data-url" => "/post", :href => event_path(event.id)}= event.url
    .row-fluid
      .col-sm-4
        %button.btn.btn-success{:type => "button"}
          Approve
          %i.fa.fa-check
      .col-sm-4
        %button.btn.btn-info{:type => "button"}
          Pending
          %i.fa.fa-circle-o-notch
      .col-sm-4
        %button.btn.btn-danger{:type => "button"}
          Reject
          %i.fa.fa-times-circle
    .row-fluid
      .container-fluid.col-sm-6
      .container-fluid.col-sm-2{ id: "edit_#{event.id}" }
        %a{ role: "button", id: "#{event.id}_editButton", class: "button",
            href: "##{event.id}_edit", data: { toggle: "collapse" } } Edit
      - if tab.eql? "Pending" or tab.eql? "Upcoming"
        .container-fluid.col-sm-2{ id: "accept_#{event.id}" }
          = form_tag edit_event_path(event.id) + '#admin', :method => 'get'  do
            -# this will call accepting
              = submit_tag 'accept'
        .container-fluid.col-sm-4{ id: "reject_#{event.id}" }
          = form_tag edit_event_path(event.id), :method => 'get' do
            -# this will move an event to the rejected area
            = submit_tag 'reject'
      - else
        .container-fluid.col-sm-2
        .container-fluid.col-sm-2{ id: "delete_#{event.id}" }
          = form_tag event_path(event.id) + '#admin', :method => 'delete' do
            -# this will permanently delete an event
            = submit_tag 'delete', data: { confirm: "Are you sure you want to delete '#{event.name}'?\n This cannot be undone." }
  
    %br
    .container-fluid{ id: "#{event.id}_edit", class: "collapse" }
      = form_for(event, url: event_path(event.id) + '#admin', html: { method: 'patch',
                 class: "form-horizontal" }) do |f|
        %legend Event Info
        .row.container-fluid
          .container-fluid.col-sm-5.control-group
            .field.form-group
              = f.label :event_name, :class => "control-label"
              = f.text_field :name, :class => "span5"
            .field.form-group
              = f.label :description, :class => "control-label", :for => "event_description"
              = f.text_area :description, :rows => 3, :class => "span5"
          .container-fluid.col-sm-5.form-group
            = f.label :location
            .field
              = f.number_field :st_number, :class => "span2"
              = f.text_field :st_name, :class => "span3"
            %br
            .field
              = f.text_field :city, :class => "span3", :label => "event_city"
              = f.text_field :state, :class => "span3", :label => "event_state"
              = f.number_field :zip, :class => "span3", :label => "event_zip"
          
        .row.container-fluid
          .col-sm-5.container-fluid.form-group
            = f.label :Time
            .field
              = f.label :start, :class => "control-label", :for => "event_start"
              = f.datetime_select(:start, :datetime_separator => ", ", :ampm => true,
                                  :order => [:month, :day, :year, :hour, :minute],
                                  :label => "start") 
            %br
            .field
              = f.label :end, :for => "event_end", :class => "control-label"
              = f.datetime_select(:end, :datetime_separator => ', ', :ampm => true,
                                  :order => [:month, :day, :year, :hour, :minute],
                                  :label => "end")
          .col-sm-3.container-fluid.form-group
            = f.label :cost
            .field
              = f.radio_button "free", "true"
              = f.label :free
            %br
            .field.container-fluid.form-group
              = f.radio_button "free", "false"
              = f.number_field :cost
          .col-sm-4.container-fluid.form-group
            = f.label :tags, :class => "control-label"
            .field
        %br
        %legend Contact Info
        %br
        .row.container-fluid
          .col-sm-4.container-fluid
            .field.form-group
              = f.label(:first_name, :for => "event_contact_first",  :class => "control-label")
              = f.text_field :contact_first
            %br
            .field.form-group
              = f.label :last_name, :class => "control-label"
              = f.text_field :contact_last
          .col-sm-4.container-fluid
            .field.form-group
              = f.label :email, :class => "control-label"
              = f.email_field :contact_email
            %br
            .field.form-group
              = f.label :phone_number, :class => "control-label"
              = f.telephone_field :contact_phone
          .col-sm-4.container-fluid
            .field.form-group
              = f.label :organization, :class => "control-label"
              = f.text_field :organization
            %br
            .field.form-group
              = f.label :website, :class => "control-label"
              = f.url_field :url
        %br
        .actions.row.container-fluid
          .col-sm-4.container-fluid
            = f.submit
          .col-sm-4.container-fluid
            = button_tag "Reset", type: :reset
          .col-sm-4.container-fluid
            %a{ role: "button", id: "#{event.id}_CancelEdit", class: "button",
                href: "##{event.id}_edit", data: { toggle: "collapse" } } Cancel

%link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}
%script{:src => "http://code.jquery.com/jquery-2.0.3.min.js"}
%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
%link{:href => "//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css", :rel => "stylesheet"}/
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"}
:javascript
  $.fn.editable.defaults.mode = 'inline';
  $.fn.editable.defaults.ajaxOptions = {type: "PUT"}
  $.fn.editable.defaults.showbuttons = false;
  $(document).ready(function() {
    var show_btns = $("a:contains('Show')");
    show_btns.each(function(index){
      $(this).on("click", function() {
        $(this).html("" + (($(this).attr("aria-expanded") == "true") ? "Show More <i class='fa fa-angle-down'></i>" : "Show Less <i class='fa fa-angle-up'></i>") );
      });
    });
    
    var edit_btns = $("a[id*='editButton']");
    edit_btns.each(function(index) {
      var show_id = "#showbtn_" + edit_btns[index].id.split("_")[0]
      $(this).on("click", function() {
        $(show_id).trigger("click");
      });
    });
    
    var cancel_btns = $("a[id*='_CancelEdit']");
    cancel_btns.each(function(index) {
      var show_id = "#showbtn_" + cancel_btns[index].id.split("_")[0]
      $(this).on("click", function() {
        $(show_id).trigger("click");
      });
    });
    
    $('.editable').editable();
  });
