

- if flash[:sync]
  %div
    = flash[:sync]

%table
  %thead
    %td.text-center Select
    %td.text-center Calendar
    %td.text-center
      Status
      (
      %i.fa.fa-check.isa_success
      or
      %i.fa.fa-times.isa_error
      )
    %td.text-center Last Sync
  %tbody
    %tr
      %td.text-center= check_box_tag  "calendar"
      %td.text-center Calendar Organization
      %td.text-center
        %i.fa.fa-check.isa_success
      %td.text-center= 1.day.since.strftime("%c")
    - @calendars.each do |calendar|
      %tr
        %td.text-center= check_box_tag  calendar.url
        %td.text-center= calendar.organization
        %td.text-center
          %i.fa.fa-check.isa_success
        %td.text-center= calendar.last_sync.strftime("%c")
