<br/>
<br/>
<br/>
%main{:style => "width:50%; margin-left:25%; margin-right:25%; min-width:30em;"}
  %h1{class: 'title', style: "border-bottom: 4px solid #A6C55F; border-top: 0px;"}
  %div{style:'padding: 5em;'}
    %h1 Accounts
    - flash.each do |name, msg|
      = msg
    
    %table#users
      %thead
        %tr
          %th Name
          %td &nbsp;&nbsp;
          %th Email
          %td &nbsp;&nbsp;
          %th Level
          %td &nbsp;&nbsp;
          %th Delete
      %tbody
        - @users.each do |user|
          %tr{style: 'border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;'}
            %td= user.name
            %td &nbsp;&nbsp;
            %td= user.email
            %td &nbsp;&nbsp;
            %td= link_to (user.root? ? "Super" : "Regular"), "/accounts/#{user.id}", :method => :put, data: (user.root? ? {confirm: "Are you sure you want to change #{user.email}'s level to Regular Admin?"} : {confirm: "Are you sure you want to change #{user.email}'s level to Super Admin?"})
            %td &nbsp;&nbsp;
            %td= link_to "Delete Account", "/accounts/#{user.id}" + "#page", :method => :delete, data: {confirm: "Are you sure you want to delete #{user.email}? Accounts are deleted permanently."}
    </br>
    
    = link_to 'Back to calendar', calendar_path + "#page", style: 'font-weight:200;', :method => :get
  %h1{class: 'title', style: "border-bottom: 4px solid #A6C55F; border-top: 0px;"}
